.wrapper * {
    background: #ef592b;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1px;
    margin-right: 1px;
  }
  
  
  .wrapper {
    display: grid;
    grid-template-columns: 5fr 5fr 2fr;
    grid-template-rows: 5fr 20fr 5fr;
    grid-gap: 10px;
    height: 720px;
  }